.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex !important;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px !important;
}

.button {
  margin: -73px 15px 20px auto;
}
